* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(254,250,244);
    background-size: contain;
}

.card {
    display: flex;
    border-radius: 30px;
    background-color: #FEFAF4;
    justify-content: flex-start;
    width: 60vw;
    height: 80vh;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;}

.kiri {
    background-image: url(./assets/Untitled\ \(3\).png);
    flex: 2;
    background-size: cover;
    background-position: center;
    border-radius: 30px 0px 0px 30px


}
.kanan {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;

}

.titleLogin {
    font-size: 32px;
    color: rgb(80, 80, 80);
}
.subTitle {
    font-size: 12px;
    font-weight: 300;
    color: rgb(80, 80, 80);
    margin-bottom: 30px;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(80, 80, 80);

}
input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 40px;
    background-color: #FEFAF4;
    padding-left: 10px;
    margin-bottom: 20px;

}

button {
    background-color: #f38f91;
    height: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #f13c77;
    transition: 0.8s;
    color: #FEFAF4;
}

.alert{
    font-size: 10px;
    margin-bottom: 50px;
}
